* {
    background-color: #D5D8DC;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#text {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin: 16px;
    color: #474747; 
    margin: 2rem;  
}

#img-div {
    text-align: center;
}

#image {
    width: 60rem;
    border-radius: 20px;
}

#img-caption {
    font-size: 25px; 
    background-color: #FFF; 
    margin-top: 0.7rem;
 
}

.Farbe {
    background-color: #FFF;
    height: 540px;
    display: inline-block;
    width: 100%;
}

#tribute-info {
    font-size: 30px;
}

p {
    font-size: 25px;
    max-width: 100rem;
}

h3 {
    font-size: 30px;
    padding-top: 30px;
}

.filme {
    font-size: 25px;
    margin-top: auto;
}

.schluss {
    margin-top: 100px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.weiss {
    background-color: #FFF;
}